
@font-face {
    font-family:'YellowMagician';
    src: url(Yellow-Magician/YellowMagician.ttf) format("truetype");
}
:root{

    --corbrilhante:#f700ff;
    --corescura:#5530bd;
    --corpadrao:#aa00ff;

    --fonteprojetos:'YellowMagician';
}
.cor-vermelha:root{
    --corbrilhante:#fc0000;
    --corescura:#800305;
    --corpadrao:#b6171a;
}
.cor-azul:root{
    --corbrilhante:#48CAE4;
    --corescura:#03045E;
    --corpadrao:#0096C7;    
}
.cor-verde:root{
    --corbrilhante:#80ff00;
    --corescura:#006400;
    --corpadrao:#02a102;
}

.cor-amarela:root{
    --corbrilhante:#fbff00;
    --corescura:#857c00;
    --corpadrao:#c5ba21;
}
.cor-rosa:root{
    --corbrilhante:#ff0054;
    --corescura:#830f30;
    --corpadrao:#a10934;
}
.cor-roxa:root{
    --corbrilhante:#aa00ff;
    --corescura:#3c096c;
    --corpadrao:#5a189a;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    z-index: 0;
}
html{
    background-color: black;
}
body{
    font-family: var(--fonte),Verdana, Geneva, Tahoma, sans-serif;
}
.slide-screen{
    display: block;
    z-index: 1;
}
  .slide{
    position: absolute; 
    top: 50%;
    left: 50%;
    background-image: url('imgs/Fundo\ gradiente\ de\ galáxia\ _\ Vetor\ Grátis.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    translate: -50% -50%;
  }
  .conteiner-hidden{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 30px;
    height: 100vh;
    width: 2200px;
    transform: translateX(0px);
    transition: left 1s;
    -moz-transition: left 1s;
    -webkit-transition: left 1s;
    -o-transition: left 1s;
  }
  #seta-esquerda{
    scale: 1.5;
    cursor: pointer;
    position: absolute;
    color: white;
    top: 50%;
    left: 5%;
    translate: -50% -50%;
    z-index: 1;
    animation: changecolor 3s linear infinite;
  }
  #seta-direita{
    scale: 1.5;
    cursor: pointer;
    position: absolute;
    color: white;
    top: 50%;
    right: 5%;
    translate: 50% -50%;
    z-index: 1;
    transition: .2s;
    animation: changecolor 3s linear infinite;
  }
  .theme{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(114, 13, 139);
    margin: 18px;
    height: 200px;
    width: 300px;
    transition: .2s;
  }
  .theme:hover{
    border: 2px solid #b500fd;
    transition-delay:1s;
  }
  .theme img{
    float: left;
    height: 196px;
    width: 148px;
  }
  .esquerdo{
    transition: 2s;
    transform: perspective(300px) rotateY(30deg);
  }
  .central{
    transition: 2s;
    transform: perspective(300px) rotateY(0deg);
  }
  .direito{
    transition: 2s;
    transform: perspective(300px) rotateY(-30deg);
  }
  .theme span{
    position: absolute;
    display: block;
  }
  .theme span:nth-child(1){
    width: 100%;
    height: 2px;

    top:0;
    left: -100%;
    background: linear-gradient(90deg, transparent, #a000fd);

  }
  .theme:hover span:nth-child(1){
        left: 100%;
        transition: 1s;
    }
  .theme span:nth-child(2){
    width: 2px;
    height: 100%;

    right: 0;
    top: -100%;
    background: linear-gradient(180deg, transparent, #a000fd);
  }
  .theme:hover span:nth-child(2){
        top: 100%;
        transition: 1s;
        transition-delay: .25s;
    }
  .theme span:nth-child(3){
    width: 100%;
    height: 2px;

    bottom: 0;
    right: -100%;
    background: linear-gradient(270deg, transparent, #a000fd);
  }
  .theme:hover span:nth-child(3){
        right: 100%;
        transition: 1s;
        transition-delay: .5s;
    }
  .theme span:nth-child(4){
    width: 2px;
    height: 100%;

    left: 0;
    top: 100%;
    background: linear-gradient(360deg, transparent, #a000fd);

  }
  .theme:hover span:nth-child(4){
    top: -100%;
    transition: 1s;
    transition-delay: .75s;
}
  /*animacao style*/
.conteiner{
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-top: 200px;
    font-family: var(--fonteprojetos);
}
.btn-slide-screen{
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-family: var(--fonteprojetos);
    color: var(--corescura);
    font-size: 4em;
    top: -80px;
    left: -180px;
    translate: -50% -50% ;
}
.girar{
    background-color: transparent;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50% ;
    left: 50%;
    translate: -50% -50%;
}
.ladodefora{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50% ;
    left: 50%;
    translate: -50% -50%;
}
.ladodedentro{
    background-color: transparent;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50% ;
    left: 50%;
    translate: -50% -50%;  
}
.symbols{
    color: var(--corescura);
    font-size: 2em;
    
}
.sombradefora{
    background-color: transparent;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50% ;
    left: 50%;
    translate: -50% -50%;
}
p.a{
    translate: 100% 0%;
}
p.b{
    translate: 100% -350%;
}
p.c{
    translate: -50% 330%;
}
p.i{
    translate: -50% 0%;
}
p.e{
    translate: 50% -150%;
}
p.f{
    translate: 0% 350%;
}
p.g{
    translate: 0% -300%;
}
p.h{
    translate: 0% 200%;
}
p.n{
    translate: -50% -350%;
}
p.o{
    translate: -50% 300%;
}
p.p{
    translate: 600% 250%;
}
p.j{
    translate: 0% -300%;
}
p.l{
    translate: -900% 100%;
}
p.k{
    translate: 100% -150%;
}
p.q{
    translate: 0% 150%;
}
.palavramagica{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50% ;
    left: 50%;
    translate: -50% -50%;
}
.projetos{
    font-family: var(--fonteprojetos);
    color: var(--corescura);
    font-size: 1em;
    border-radius: 50%;

}
.animationrotate{
    animation: rotate 9s linear infinite;
}
.animationchangeshadowoutside{
    animation: changeshadowdefora 3s linear infinite;
}
.animationchangeshadowinside{
    animation: changeshadowdedentro 3s linear infinite;
}
.animationchangecolor{
    animation: changecolor 3s linear infinite;
}
@keyframes rotate{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
@keyframes changecolor{
    0%{
        color:var(--corescura) ;
    }
    15%{
        color:var(--corpadrao) ;
    }
    30%{
        color: var(--corbrilhante);
    }
    45%{
       color: var(--corpadrao);
    }
    70%{
       color: var(--corbrilhante);
    }
    85%{
        color:var(--corpadrao) ;
    }
    100%{
        color:var(--corescura);
    }
}
@keyframes changeshadowdefora{
    0%{
        box-shadow: 5px 5px 40px var(--corescura) ;
    }
    15%{ 
        box-shadow: 5px 5px 40px var(--corpadrao) ;
    }
    30%{ 
        box-shadow: 5px 5px 40px var(--corbrilhante);
    }
    45%{
        box-shadow: 5px 5px 40px var(--corpadrao);
    }
    70%{
        box-shadow: 5px 5px 40px var(--corbrilhante);
    }
    85%{ 
        box-shadow: 5px 5px 40px var(--corpadrao);
    }
    100%{
        box-shadow: 5px 5px 40px var(--corescura);
    }
}
@keyframes changeshadowdedentro{
    0%{
        box-shadow: inset 5px 5px 40px var(--corescura) ;
    }
    15%{ 
        box-shadow: inset 5px 5px 40px var(--corpadrao) ;
    }
    30%{ 
        box-shadow: inset 5px 5px 40px var(--corbrilhante);
    }
    45%{
        box-shadow: inset 5px 5px 40px var(--corpadrao);
    }
    70%{
        box-shadow: inset 5px 5px 40px var(--corbrilhante);
    }
    85%{ 
        box-shadow: inset 5px 5px 40px var(--corpadrao);
    }
    100%{
        box-shadow: inset 5px 5px 40px var(--corescura);
    }
}